<!-- <select onchange="this.selected.call(this, event)"> -->
 
<!-- <select (change)="this.selected('USD')"> 
  <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
</select> -->
<div class="text-center">
<p>Select your currency to see the bitcoin value</p>  
<select style="color: black" [(ngModel)]="curSelect"
(ngModelChange)="selected($event)"> 
    <option style="color:black" *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option> 
</select>
<input style="width:100px; height:19px; color: black" type="text" disabled value="{{symbol}}{{bitValue}}">

</div>

